@*model IEnumerable<Mhotivo.Models.DisplayTutorModel>*@
@using System.Drawing
@using System.Web.Mvc.Html
@model PagedList.IPagedList<Mhotivo.Models.TutorDisplayModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

<h2>Tutores Registrados</h2>

<a class="toAdd" data-toggle="modal" role="button" href="~/Tutor/Create/"><span class="btn btn-small btn-primary">Agregar Tutor</span></a>
<div style="float:right">
    @using (Html.BeginForm("Index", "Tutor", FormMethod.Get, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
    {
        <p>
            Buscar: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <button class="btn btn-small btn-primary" type="submit">
                <i class="icon-search"></i>
            </button>
        </p>
    }
</div>
@if(!Model.Any())
{
    <div class="well well-large">
		<h4 class="blue">Tabla Vacia</h4>
		No hay registros a mostrar.
	</div>
}
else
{
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
	    <thead>
		    <tr>
		        <th>@Html.DisplayNameFor(model => model.First().Photo)</th>
                <th>@Html.ActionLink("Nombre Completo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                <th>@Html.ActionLink("Numero de Identidad", "Index", new { sortOrder = ViewBag.IdNumberSortParm }) </th>
				<th>@Html.DisplayNameFor(model => model.First().City)</th>
				<th>@Html.DisplayNameFor(model => model.First().State)</th>
                <th>Detalles</th>
		    </tr>
	    </thead>
        <tbody>
        
            @foreach (var item in Model) {
                <tr>
                    <td data-id="Tutor/Details/@Html.DisplayFor(modelItem => item.Id)" class="toDetails">
                            <div id="Photo">
                                @Html.ValidationSummary(true)
                                @{
                                    var imgSrc = "";
                                    if (item.Photo != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.Photo);
                                        imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                    }
                                    else
                                    {
                                        var image = new Bitmap(Mhotivo.Implement.Properties.Resources.default_avatar);
                                        var defaultAvatar = new MemoryStream();
                                        image.Save(defaultAvatar, System.Drawing.Imaging.ImageFormat.Png);
                                        var base64 = Convert.ToBase64String(defaultAvatar.ToArray());
                                        imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                    }
                                }
                                <img alt="75x75" style="width: 75px; height: 75px;" src="@imgSrc" />
                            </div>
                            <div class="text">
							</div>
                    </td>
				    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
				    <td>@Html.DisplayFor(modelItem => item.IdNumber)</td>
				    <td>@Html.DisplayFor(modelItem => item.City)</td>
				    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>
                        <a href="~/Tutor/Details/@Html.DisplayFor(modelItem => item.Id)"><i class="icon-edit bigger-120"></i></a>
                        @*<a class="toDelete" role="button" id="@Html.DisplayFor(modelItem => item.Id)_Val"><i class="icon-trash bigger-120"></i></a>*@
                        @using (Html.BeginForm("Delete", "Tutor", new { id = Html.DisplayFor(modelItem => item.Id) }, FormMethod.Post,
                            new { id = "Form_" + Html.DisplayFor(modelItem => item.Id) + "_Val", style = "display: none" })) { }
                        <input type="hidden" id="@Html.DisplayFor(modelItem => item.Id)_Val_Message"
                               value="¿Realmente desea eliminar el registro de @Html.DisplayFor(modelItem => item.FullName)?" />
                    </td>
                </tr>
            }
        </tbody>
    </table>   
    
    <p>
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}));
    
}

<!-- Modal -->
<div tabindex="-1" class="modal hide fade" id="EditModal" style="display: none;" aria-hidden="true">
    <div id="body" class="modal-body">
        
    </div>
</div>
