@model List<Mhotivo.ParentSite.Models.NotificationModel>

@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";

}

               <link rel="stylesheet" href="~/Content/css/notification.css"> <!--revslider-->

               <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img7">
                   <div class="nicdark_filter greydark">
                       <div class="nicdark_container nicdark_clearfix">
                           <div class="grid grid_12">
                               <div class="nicdark_space100"></div>
                               <div class="nicdark_space100"></div>
                               <h1 class="white subtitle">NOTIFICACIONES</h1>
                               <div class="nicdark_space10"></div>
                               <h3 class="subtitle white">Avisos Importantes</h3>
                               <div class="nicdark_space20"></div>
                               <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                               <div class="nicdark_space40"></div>
                               <div class="nicdark_space50"></div>
                           </div>
                           
                       </div>
                   </div>
               </section>

               <section class="nicdark_section">
                   <div>
                       <div class="nicdark_space20"></div>
                       <div class="grid grid_3"></div>
                       <div class="grid grid_8">
                           @*<div class="nicdark_textevidence nicdark_bg_greydark nicdark_radius nicdark_shadow">
                                <div class="nicdark_size_small">
                                    <h2 style="text-align:center; color:white" class="nicdark_textevidence">Notificaciones Personales</h2>
                                </div>
                            </div>*@
                       </div>
                   </div>

                   <!--start nicdark_container-->
                   <div class="nicdark_container nicdark_clearfix">

                       <div class="nicdark_space20"></div>
                       
                       <!--sidebar-->
                       <div class="grid grid_4">
                           <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                               <div class="nicdark_textevidence nicdark_bg_greendark nicdark_radius_top">
                                   <h4 class="nicdark_margin20" style="color:white; font-size:20px; font-weight:bold">Filtros</h4>
                                   <i class="icon-doc-text nicdark_iconbg right medium white"></i>
                               </div>
                               <ul class="nicdark_list border">

                                   <li class="nicdark_border_grey">
                                       <div class="nicdark_margin10 nicdark_relative">
                                           <a href="#" class="nicdark_btn_icon small nicdark_radius_circle grey nicdark_absolute nicdark_border_grey2"><i class="icon-bookmark" style="color:forestgreen"></i></a>
                                           <div class="nicdark_activity nicdark_marginleft60">
                                               @Html.ActionLink("Nivel De Educacion", "index", new { filter = "NDE" }, new { @class = "nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10" })                                        
                                           </div>
                                       </div>
                                   </li>
                                   <li class="nicdark_border_grey">
                                       <div class="nicdark_margin10 nicdark_relative">
                                           <a href="#" class="nicdark_btn_icon small nicdark_radius_circle grey nicdark_absolute nicdark_border_grey2"><i class="icon-book" style="color:cornflowerblue"></i></a>
                                           <div class="nicdark_activity nicdark_marginleft60">
                                               @Html.ActionLink("Grado", "index", new { filter = "Grado" }, new { @class = "nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10" })
                                           </div>
                                       </div>
                                   </li>
                                   <li class="nicdark_border_grey">
                                       <div class="nicdark_margin10 nicdark_relative">
                                           <a href="#" class="nicdark_btn_icon small nicdark_radius_circle grey nicdark_absolute nicdark_border_grey2"><i class="icon-briefcase" style="color:saddlebrown"></i></a>
                                           <div class="nicdark_activity nicdark_marginleft60">
                                               @Html.ActionLink("General", "index", new { filter = "General" }, new { @class = "nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10" })
                                           </div>
                                       </div>
                                   </li>
                                   <li class="nicdark_border_grey">
                                       <div class="nicdark_margin10 nicdark_relative">
                                           <a href="#" class="nicdark_btn_icon small nicdark_radius_circle grey nicdark_absolute nicdark_border_grey2"><i class="icon-vcard" style="color:darkorange"></i></a>
                                           <div class="nicdark_activity nicdark_marginleft60">
                                               @Html.ActionLink("Personal", "index", new { filter = "Personal" }, new { @class = "nicdark_btn nicdark_bg_greydark small nicdark_shadow nicdark_radius white subtitle nicdark_margin10" })
                                           </div>
                                       </div>
                                   </li>

                               </ul>
                           </div>
                       </div>

                      
                       <div class="grid grid_8">
                           @if (Model.Count > 0)
                           {
                               foreach (var item in Model)
                               {
                                       <div class="nicdark_textevidence">
                                           <div class="nicdark_textevidence nicdark_bg_grey2 nicdark_radius nicdark_shadow">
                                               <div class="nicdark_size_small">
                                                   <p class="font22" style="color: black">
                                                       <i class="icon-md icon-calendar" style="color:orange"></i> @item.Created.ToShortDateString() <span class="nicdark_margin020">·</span>
                                                       <i class="icon-md icon-user" style="color: cornflowerblue"></i> @item.NotificationCreator <span class="nicdark_margin020">·</span>
                                                       <a href="NotificationComments?notificationId=@item.Id" class="notify">
                                                           <span class="notification-label notification-label-red">@item.CommentsAmount</span>
                                                           <i class="icon-chat" style="color:tan"></i>
                                                       </a>
                                                   </p>
                                               </div>
                                           </div>
                                           <br />
                                           <div class="nicdark_bg_white" style="border: 1px ridge grey; border-radius: 10px">
                                               <div class="nicdark_space10"></div>
                                               <h2 class="subtitle nicdark_marginleft10" style="color: black; text-decoration:underline">@item.NotificationName</h2>
                                               <div class="nicdark_space20"></div>
                                               <div class="nicdark_marginleft10" style="font-size: 18px; color:white;">
                                                   @Html.Raw(@item.Message)
                                               </div>
                                               <br />
                                               <br />
                                               <div class="nicdark_space10"></div>
                                           </div>
                                           <a onclick="addcomment(@item.Id); " href="#AddComment" class="nicdark_btn nicdark_bg_orange small nicdark_shadow nicdark_radius white right nicdark_mpopup_window"><i class="icon-reply-outline"></i>Comentar</a>
                                           <div class="nicdark_space20"></div>

                                   </div>
                                   <div class="nicdark_divider left big">
                                       <span class="nicdark_bg_reddark nicdark_radius"></span>
                                   </div>
                               }

                           }
                           else
                           {
                                <section class="nicdark_section">
                                    <div class="nicdark_container nicdark_clearfix">
                                        <div class="grid grid_8">
                                            <div class="nicdark_alerts nicdark_bg_red nicdark_radius nicdark_shadow">
                                                <p class="white nicdark_size_medium"><i class="icon-cancel-circled-outline iconclose"></i>&nbsp;&nbsp;&nbsp;<strong>ATENCIÓN:</strong>&nbsp;&nbsp;&nbsp;NO HAY NOTIFICACIONES.</p>
                                                <i class="icon-warning-empty nicdark_iconbg right medium red"></i>
                                            </div>
                                        </div>
                                    </div>          
                                </section>
                           }



                           <div id="AddComment" class="nicdark_bg_white nicdark_radius zoom-anim-dialog mfp-hide nicdark_window nicdark_height250">
                               <div class="nicdark_textevidence nicdark_bg_green nicdark_radius_top">
                                   <div style="margin: 15px">
                                       <h4 class="white">Agregar Comentario</h4>
                                   </div>
                               </div>
                               <div class="nicdark_margin40">
                                   @using (@Html.BeginForm("AddCommentToNotification", "Notification", FormMethod.Post))
                                   {
                                       <textarea rows="3" class="nicdark_bg_grey2 nicdark_radius nicdark_shadow greydark responsive" placeholder="COMENTARIO" id="commentText" name="commentText" style="max-height: 80px; max-width: 315px; min-width: 30px; min-height: 30px; width: 315px; height: 80px"></textarea>

                                       <div class="nicdark_space20"></div>
                                       <input type="submit" class="nicdark_btn nicdark_bg_red small nicdark_shadow nicdark_radius white right" value="Enviar" />
                                       <div class="nicdark_space50"></div>

                                       <input type="text" class="mfp-hide" id="notificationId" name="notificationId" value="" />
                                   }
                               </div>
                           </div>
                       </div>
                       </div>
               </section>
               
               <script src="~/Scripts/jquery-1.9.1.min.js"></script>
               <script type="text/javascript">
                    function AddComment(notificationId) {

                        var textBox = document.getElementById("notificationId");
                        textBox.value = notificationId;
                    }
                    jQuery(document).ready(function() {
                        $('.jscroll').jscroll();
                    });
               </script>