@model Mhotivo.ParentSite.Models.ChangePasswordModel

@{

    ViewBag.Title = "Cmbiar Contraseña";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
<div class="nicdark_space100"></div>
<div class="nicdark_space100"></div>
<div class="nicdark_space70"></div>
<div class="">
    <div class=" ">
        <div class="  ">
            <section class="nicdark_section">
                @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post))
                {
                    <fieldset>
                        <div class="grid nicdark_border_grey nicdark_shadow ">
                            <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius_top">
                                <h4 class="nicdark_margin1820" style="color:white; font-size:20px; font-weight:bold">CAMBIAR CONTRASEÑA</h4>
                                <i class="icon-users nicdark_iconbg right nicdark_marginright20 medium white"></i>
                            </div>
                            <div class="nicdark_space10"></div>


                            <div class="  ">
                                <label class="">Contraseña Actual</label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.OldPassword, new {  placeholder = "Contraseña Actual", type = "password", required = "required" })
                                    @Html.ValidationMessageFor(x => x.OldPassword)
                                </div>
                            </div>
                            <div class=" ">
                                <label class=" ">Contraseña Nueva</label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.NewPassword, new { placeholder = "Contraseña Nueva", type = "password", required = "required" })
                                    @Html.ValidationMessageFor(x => x.NewPassword)
                                </div>
                            </div>
                            <div class="">
                                <label class="">Confirmar Contraseña</label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.ConfirmPassword, new { placeholder = "Confirmar Contraseña ", type = "password", required = "required" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <input class="nicdark_btn nicdark_bg_orange small nicdark_shadow nicdark_radius white nicdark_press" type="submit" value="CAMBIAR">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
                <div class="nicdark_space100"></div>
                <div class="nicdark_space20"></div>
            </section>
        </div>
    </div>
</div>

@{
    if (null != ViewBag.Message)
    {
        <text>
            <script type="text/javascript">
                alert("@ViewBag.Message");
            </script>
        </text>
    }
}