@model Mhotivo.Models.NotificationRegisterModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Ajax.BeginForm("LoadTypeNotification", "Notification", new AjaxOptions{UpdateTargetId = "toUpdate"}))
{
    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.NotificationType)
        </div>
        <div class="controls" id="NotificationTypeDropDown">
            <div id="toUpdate" hidden value="@Model"></div>
            @Html.DropDownList("notificationType", (SelectList)ViewBag.NotificationTypes, new { onchange = "onDropDownChange()" })
        </div>
    </div>
}
<div id="toUpdate">
    @using (Html.BeginForm("Add", "Notification", FormMethod.Post, new { id = "Form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>NotificationMainModel</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Message)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SendEmail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SendEmail)
                @Html.ValidationMessageFor(model => model.SendEmail)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
</div>
<script>
    function onDropDownChange() {
        var url = '@Url.Action("LoadTypeNotification", "Notification")';
        $.post(url, $('form').serialize(), function (view) {
            reload(view);
        });
    }
</script>