@using AutoMapper.Internal
@model Mhotivo.Models.AcademicYearDetailsEditModel

@{
    ViewBag.Title = "Editar Año Académico";
    Layout = "";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
    @using (Html.BeginForm("Edit", "AcademicYearDetails", FormMethod.Post, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
    {@Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Año Académico</legend>

            @Html.HiddenFor(model => model.Id)
            <p class="text-error">
                @Html.ValidationMessageFor(model => model.TeacherStartDate)
                @Html.ValidationMessageFor(model => model.TeacherEndDate)
                @Html.ValidationMessageFor(model => model.Schedule)
                @Html.ValidationMessageFor(model => model.Room)
                @Html.ValidationMessageFor(model => model.Course)
                @Html.ValidationMessageFor(model => model.Teacher)
            </p>

            <div class="control-group">
                <div class="control-label">
                    @Html.DisplayNameFor(model => model.TeacherStartDate)
                </div>
                <div class="controls">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.date-picker').datepicker().on('changeDate', function () {
                                $(this).datepicker('hide');
                            });
                        });
                    </script>

                    @Html.TextBoxFor(model => model.TeacherStartDate, new { @class = "date-picker", @data_date_format = "dd-mm-yyyy", @readonly = true })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.DisplayNameFor(model => model.TeacherEndDate)
                </div>
                <div class="controls">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.date-picker').datepicker().on('changeDate', function () {
                                $(this).datepicker('hide');
                            });
                        });
                    </script>

                    @Html.TextBoxFor(model => model.TeacherEndDate, new { @class = "date-picker", @data_date_format = "dd-mm-yyyy", @readonly = true })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.DisplayNameFor(model => model.Schedule)
                </div>
                <div class="controls">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.date-picker').datepicker().on('changeDate', function () {
                                $(this).datepicker('hide');
                            });
                        });
                    </script>

                    @Html.TextBoxFor(model => model.Schedule, new { @class = "date-picker", @data_date_format = "dd-mm-yyyy", @readonly = true })
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    @Html.DisplayNameFor(model => model.Room)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Room)
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.DisplayNameFor(model => model.Course)
                </div>
                <div class="controls">
                    @Html.DropDownListFor(model => model.Course.Id, new SelectList(ViewBag.CourseId, "Value", "Text"), "  -- Curso --")
                </div>
            </div>
            
            <div class="control-group">
                <div class="control-label">
                    @Html.DisplayNameFor(model => model.Teacher)
                </div>
                <div class="controls">
                    @Html.DropDownListFor(model => model.Teacher.Id, new SelectList(ViewBag.TeacherId, "Value", "Text"), "  -- Maestro --")
                </div>
            </div>
            <div class="space"></div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-small">
                    <i class="icon-remove"></i>
                    Cancel
                </button>

                <button type="submit" class="btn btn-small btn-primary">
                    <i class="icon-ok"></i>
                    Actualizar
                </button>
            </div>
        </fieldset>
    }
</div>