@*model IEnumerable<Mhotivo.Models.DisplayAcademicYearDetailsModel>*@
@using System.Web.Mvc.Html
@model PagedList.IPagedList<Mhotivo.Models.DisplayAcademicYearDetailsModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

<h2>Detalles de Años Académicos Registrados  </h2>

<a class="toAdd" data-toggle="modal" role="button" href="~/AcademicYearDetails/Add/@Html.ViewBag.IdAcademicYear"><span class="btn btn-small btn-primary active">Agregar Detalles de Año Académico</span></a>
    @using (Html.BeginForm("Index", "AcademicYearDetails", FormMethod.Get, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
    {
    <p>
        Buscar por Maestro: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
    }
@if (!Model.Any())
{
    <div class="well well-large">
        <h4 class="blue">Tabla Vacia</h4>
        No hay detalles de años académicos a mostrar.
    </div>
}
else
{


    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().TeacherStartDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().TeacherEndDate)</th>
                <th>@Html.ActionLink("Horario", "Index", new { sortOrder = ViewBag.ScheduleSortParm }) </th>
                <th>@Html.DisplayNameFor(model => model.First().Room)</th>
                <th>@Html.DisplayNameFor(model => model.First().Course)</th>
                <th>@Html.ActionLink("Maestro", "Index", new { sortOrder = ViewBag.TeacherSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TeacherStartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.TeacherEndDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Schedule)</td>
                    <td>@Html.DisplayFor(modelItem => item.Room)</td>
                    <td>@Html.DisplayFor(modelItem => item.Course)</td>
                    <td>@Html.DisplayFor(modelItem => item.Teacher)</td>
                    <td>
                        <a class="toEdit" data-toggle="modal" role="button" data-target="#EditModal" id="/AcademicYearDetails/Edit/@Html.DisplayFor(modelItem => item.Id)"><i class="icon-edit bigger-120"></i></a>
                        <a class="toDelete" role="button" id="@Html.DisplayFor(modelItem => item.Id)_Val"><i class="icon-trash bigger-120"></i></a>
                        @using (Html.BeginForm("Delete", "AcademicYearDetails", new { id = Html.DisplayFor(modelItem => item.Id) }, FormMethod.Post,
                            new { id = "Form_" + Html.DisplayFor(modelItem => item.Id) + "_Val", style = "display: none" })) { }
                        <input type="hidden" id="@Html.DisplayFor(modelItem => item.Id)_Val_Message"
                               value="¿Realmente desea eliminar los detalles del año académico?" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}));
    
}

<!-- Modal -->
<div tabindex="-1" class="modal hide fade" id="EditModal" style="display: none;" aria-hidden="true">
    <div id="body" class="modal-body">

    </div>
</div>


