@using System.Web.Mvc.Html
@model Mhotivo.Models.AcademicYearRegisterModel

@{
    ViewBag.Title = "Agregar Año Académico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section AddToHead{
    <style type="text/css">
        span.InputLabel {
            width: 567px;
            height: 15px;
            font-size: 10px;
            margin: 0 0 10px 0;
            vertical-align: text-top;
            font-weight: bold;
        }
    </style>
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

@using (Html.BeginForm("Add", "AcademicYear", FormMethod.Post, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
{
    @Html.ValidationSummary(true)
    <h2>Agregar Año Académico</h2>

    <p>
        <a href="../AcademicYear/Index" data-dismiss="modal" class="btn btn-small">
            <i class="icon-remove"></i>
            Cancel
        </a>

        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Agregar
        </button>
    </p>
    <div>
        
    </div>
    
    <div id="address" style="width: 500px;">
        <div id="mainAddress">
            @Html.DropDownList("Year", new List<SelectListItem> { new SelectListItem { Value = "2015", Text = "2015" }, new SelectListItem { Value = "2016", Text = "2016" }, new SelectListItem { Value = "2017", Text = "2017" } })
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Year)</span>
            <p class="text-error">@Html.ValidationMessageFor(model => model.Year)</p>
        </div>

        <br style="clear: left;" />
        <br style="clear: left;" />
        <div style="float: left; width: 250px;">
            @Html.DropDownListFor(model => model.Grade.Id, new SelectList(ViewBag.GradeId, "Value", "Text"), "  -- Grado --")
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Grade)</span>
            <p class="text-error">@Html.ValidationMessageFor(model => model.Grade)</p>
        </div>

        <div id="mainAddress">
           @Html.DropDownList("Section", new List<SelectListItem> { new SelectListItem { Value = "A", Text = "A" }, new SelectListItem { Value = "B", Text = "B" }, new SelectListItem { Value = "C", Text = "C" } })
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Section)</span>
            <p class="text-error">@Html.ValidationMessageFor(model => model.Section)</p>
        </div>

        <br style="clear: left;" />
        <br style="clear: left;" />
        <div style="float: left; width: 250px;">
            @Html.DropDownList("Approved", new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Sí" }, new SelectListItem { Value = "0", Text = "No" } })
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.Approved)</span>
        </div>
        
        <br style="clear: left;" />
        <br style="clear: left;" />
        <div style="float: left; width: 250px;">
            @Html.DropDownList("IsActive", new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Sí" }, new SelectListItem { Value = "0", Text = "No" } })
            <br /><span class="InputLabel">@Html.DisplayNameFor(model => model.IsActive)</span>
        </div>
    </div>
    <br style="clear: left;" />
    <div>
        <p>
            <a href="../AcademicYear/Index" data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancel
            </a>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Agregar
            </button>
        </p>
    </div>

}