@model Mhotivo.Models.AcademicYearEditModel

@{
    ViewBag.Title = "Editar Año Académico";
    Layout = "";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
    @using (Html.BeginForm("Edit", "AcademicYear", FormMethod.Post, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
    {@Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Año Académico</legend>

            @Html.HiddenFor(model => model.Id)
            <p class="text-error">
                @Html.ValidationMessageFor(model => model.Year)
            </p>

            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Year)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Year)
                </div>
                
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="controls">
                    @Html.CheckBoxFor(model => model.IsActive)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.EnrollsOpen)
                </div>
                <div class="controls">
                    @Html.CheckBoxFor(model => model.EnrollsOpen)
                </div>
            </div>
            <div class="space"></div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-small">
                    <i class="icon-remove"></i>
                    Cancel
                </button>

                <button type="submit" class="btn btn-small btn-primary">
                    <i class="icon-ok"></i>
                    Actualizar
                </button>
            </div>
        </fieldset>
    }
</div>