@*model IEnumerable<Mhotivo.Models.DisplayCourseModel>*@
@using System.Web.Mvc.Html
@model PagedList.IPagedList<Mhotivo.Models.DisplayCourseModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

<h2>Materias Registradas</h2>

<a class="toEdit" data-target="#EditModal" data-toggle="modal" id="/Course/Add/" role="button"><span class="btn btn-small btn-primary active">Agregar Materia</span></a>


@if (!Model.Any())
{
    <div class="well well-large">
        <h4 class="blue">Tabla Vacía</h4>
        No hay ninguna materia a mostrar.
    </div>
}
else
{

    using (Html.BeginForm("Index", "Course", FormMethod.Get, new {id = "Form", @class = "form-horizontal", @Style = "margin:0;"}))
    {
        <p>
            Buscar por Curso: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Buscar" />
        </p>
    }
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>@Html.ActionLink("Curso", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})</th>
                <th>@Html.ActionLink("Area", "Index", new {sortOrder = ViewBag.AreaSortParm}) </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Area.Name)</td>
                    <td>
                        <a class="toEdit" data-toggle="modal" role="button" data-target="#EditModal" id="/Course/Edit/@Html.DisplayFor(modelItem => item.Id)" ><i class="icon-edit bigger-120"></i></a>
                        
                        <a class="toDelete" role="button" id="@Html.DisplayFor(modelItem => item.Id)_Val"><i class="icon-trash bigger-120"></i></a>
                        @using (Html.BeginForm("Delete", "Course", new {id = Html.DisplayFor(modelItem => item.Id)}, FormMethod.Post,
                            new {id = "Form_" + Html.DisplayFor(modelItem => item.Id) + "_Val", style = "display: none"}))
                        {
                        }
                        <input type="hidden" id="@Html.DisplayFor(modelItem => item.Id)_Val_Message"
                               value="¿Realmente desea eliminar la materia @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Area.Name)?" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))
    ;
}   
    <!-- Modal -->
    
    <div tabindex="-1" class="modal hide fade" id="EditModal" style="display: none;" aria-hidden="true">
        <div id="body" class="modal-body">
        
        </div>
    </div>