@model Mhotivo.Models.EnrollDeleteModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div id="body" class="modal-body" style="max-height: 500px;">
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Borrar matriculas por seccion</legend>

        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.Grade)
            </div>
            <div class="controls">
                @Html.DropDownListFor(model => model.Grade, (SelectList)ViewBag.Grades, " -- Grado --")
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.AcademicGrade)
            </div>
            <div class="controls">
                @Html.DropDownListFor(model => model.AcademicGrade, (List<SelectListItem>)ViewBag.Sections, "  -- Seccion --")
            </div>
        </div>

    </fieldset>
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-small">
            <i class="icon-remove"></i>
            Regresar
        </button>

        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Eliminar
        </button>
    </div>
    }
</div>