@model Mhotivo.Models.EnrollDeleteModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div id="body" class="modal-body" style="max-height: 500px;">
    <fieldset>
        <legend>Borrar matriculas por seccion</legend>

        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.GradeId)
            </div>
            <div class="controls">
                @Html.DropDownListFor(model => model.GradeId, new SelectList(ViewBag.GradeId, "Value", "Text"), " -- Grado --")
            </div>
        </div>
        
        <div class="control-group">
            <div class="control-label">
                @Html.DisplayNameFor(model => model.Section)
            </div>
            <div class="controls">
                @Html.DropDownList("Section")
            </div>
        </div>

    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="DeleteAll" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>