@model Mhotivo.Models.NotificationTypeModel

@{
    ViewBag.Title = "Tipo de Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.min.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/typeahead.js"></script>

@using (Html.BeginForm("Edit", "NotificationType", FormMethod.Post, new {id = "Form_to_edit", @class = "form-horizontal"}))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.NotificationTypeId)

    <p class="text-error">
        @Html.ValidationMessageFor(model => model.TypeDescription)
    </p>

    <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.TypeDescription)
        </div>
        <div class="controls">
            @Html.EditorFor(model => model.TypeDescription)
        </div>
    </div>


    <div class="space"></div>

    <div class="modal-footer">
        <div class="btn btn-small"><i class="icon-remove"></i>@Html.ActionLink("Cancel", "Index", "NotificationType")</div>
        

        <button type="submit" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Crear
        </button>
    </div>

}

<script type="text/javascript">
    $(document).ready(function () {

        $('#Members').tagsinput({
            itemValue: 'value',
            itemText: 'name',
            type: "POST",
            typeahead: {
                source: function (query) {
                    return $.getJSON('/Group/GetMembers/', { filter: query });
                }
            }
        });


    });

    $("#Form_to_edit").submit(function (event) {
        $('#Users').val($('#Members').val());
        alert("Handler for .submit() called. : <br/>" + $('#Users').val());
        //event.preventDefault();
    });

    //start Delete
    $("a.toDeleteUser").on("click", function () {
        var uri = $(this).attr("id");
        var idMessage = "input[id*='" + uri + "_Message']";
        var idForm = "#Form_" + uri;
        var message = $(idMessage).val();
        bootbox.dialog(message,
            [
               {
                   "label": "Cancelar",
                   "class": "btn-small"
               },
               {
                   "label": "Eliminar",
                   "class": "btn-small btn-danger",
                   "callback": function () {
                       alert(idForm);
                       $(idForm).submit();
                   }
               }
            ]
        );
    }); //End of delete
</script>
