@using Mhotivo.Data.Entities
@using Mhotivo.ParentSite.Controllers
@using Mhotivo.ParentSite.Models
@model HomeworksModel

@{
    ViewBag.Title = "Homework";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/homework.css"/>

<section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img7">
    <div class="nicdark_filter greydark">
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">Tareas</h1>
                <div class="nicdark_space10"></div>
                <h3 class="subtitle white">Todas las Tareas</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>

        </div>
    </div>
</section>

<!--start section-->
<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space40"></div>
        <!--sidebar-->
        <div class="grid grid_2">
            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius_top">
                    <h4 class="white nicdark_margin20">HIJOS</h4>
                    <i class="fa fa-child nicdark_iconbg center medium white"></i>
                </div>

                @{
                    IEnumerable<Student> allstudents = HomeworkController.GetAllStudents(HomeworkController.GetTutorId());
                }
                <div class="nicdark_margin10">

                    @if (@allstudents != null)
                    {
                        @Html.ActionLink("Todos", "index", new { student = -1 }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })

                        foreach (var thisStudent in @allstudents.ToList())
                        {
                            @Html.ActionLink(thisStudent.FullName, "index", new {student = thisStudent.Id }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                        }
                    }
                </div>

                @*
                <div class="nicdark_margin10">
                    @Html.ActionLink("Dia", "index", new { param = Request.Params["param"], date = "Dia", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    @Html.ActionLink("Semana", "index", new { param = Request.Params["param"], date = "Semana", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    @Html.ActionLink("Mes", "index", new { param = Request.Params["param"], date = "Mes", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    @Html.ActionLink("Todas", "index", new { param = Request.Params["param"], date = "", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                </div>
                *@

            </div>
        </div>
        <!--sidebar-->

        
        @*
        <div class="grid grid_8">

                foreach (var item in Models.Where(x => x.AcademicCourse.Course.Id == @var))
                {

                    var studentsName = @HomeworkController.GetStudentName(item.AcademicCourse.AcademicGrade.AcademicYear.Id);

                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div class="nicdark_size_big">
                            <p class="white">
                                <i class="icon-calendar-1 nicdark_marginright10">Fecha de Entrega: @item.DeliverDate.ToString("dd-MM-yyyy")</i> <span class="nicdark_margin010">·</span>
                                <i class=" align-right nicdark_marginright10">Materia: @item.AcademicCourse.Course.Name </i> <span class="nicdark_margin010">·</span>
                                <i class="icon-attention-1 align-right nicdark_marginright10">Puntaje: @item.Points %</i>

                        </div>
                        <i class="icon-info-outline nicdark_iconbg right medium orange"></i>
                    </div>
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div>
                            @if (Convert.ToInt32(Request.Params["student"]) == 0)
                            {
                                for (int i = 0; i < studentsName.Count; i++)
                                {
                                    <i class="align-right nicdark_marginright10">  @studentsName.ElementAt(i)</i>
                                }
                            }
                            else
                            {
                                <i class="align-right nicdark_marginright10">  @HomeworkController.GetStudenById(Convert.ToInt32(Request.Params["student"]))</i>
                            }


                        </div>
                        <i class=" nicdark_iconbg right medium orange"></i>
                    </div>

                    <div class="nicdark_archive1 nav-justified nicdark_bg_yellow nicdark_radius nicdark_shadow ">
                        <div class="nicdark_margin20 nicdark_relative">

                            <div class="nicdark_activity  nicdark_disable_marginleft_ipadpotr">
                                <h4 class="white center">@item.Title</h4>
                                <div class="nicdark_space10"></div>
                                <p class="white infobox-text">@Html.Raw(@item.Description)</p>

                            </div>
                        </div>
                        <div class="nicdark_space10"></div>

                    </div>

                    <div class="nicdark_space10"></div>


                }
            }
            else
            {
                foreach (var item in Model)
                {
                    var studentsName = @HomeworkController.GetStudentName(item.AcademicCourse.AcademicGrade.AcademicYear.Id);
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div class="nicdark_size_big">
                            <p class="white">
                                <i class="icon-calendar-1 nicdark_marginright10">Fecha de Entrega: @item.DeliverDate.ToString("dd-MM-yyyy")</i> <span class="nicdark_margin010">·</span>
                                <i class=" align-right nicdark_marginright10">Materia: @item.AcademicCourse.Course.Name </i> <span class="nicdark_margin010">·</span>

                                <i class="icon-attention-1 align-right nicdark_marginright10">Puntaje: @item.Points %</i>

                        </div>
                        <i class="icon-info-outline nicdark_iconbg right medium orange"></i>
                    </div>
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div>
                            @if (Convert.ToInt32(Request.Params["student"]) == 0)
                            {
                                for (int i = 0; i < studentsName.Count; i++)
                                {
                                    <i class="align-right nicdark_marginright10">  @studentsName.ElementAt(i)</i>
                                }
                            }
                            else
                            {
                                <i class="align-right nicdark_marginright10">  @HomeworkController.GetStudenById(Convert.ToInt32(Request.Params["student"]))</i>
                            }

                        </div>
                        <i class=" nicdark_iconbg right medium orange"></i>
                    </div>

                    <div class="nicdark_archive1 nav-justified nicdark_bg_yellow nicdark_radius nicdark_shadow ">
                        <div class="nicdark_margin20 nicdark_relative">

                            <div class="nicdark_activity  nicdark_disable_marginleft_ipadpotr">
                                <h4 class="white center">@item.Title</h4>
                                <div class="nicdark_space10"></div>
                                <p class="white infobox-text">@Html.Raw(@item.Description)</p>

                            </div>
                        </div>
                        <div class="nicdark_space10"></div>



                    </div>

                    <div class="nicdark_space10"></div>

                }
            }
        </div>*@
        <div class="grid grid_10">
            <div class="ful">
                <div class="center_block container">

                    <div class="ful center_text container_head">Lista de Tareas</div>
                    <div class="ful max">
                    @{
                        if (!Model.PastHomeworks.Any())
                        {
                             <div class="fourth column pillers left all_col" id="all">
                                <div class="ful center_text list_head">Entregadas</div>
                                <div class="tasks ful">  </div>
                            </div>
                        }
                        else
                        {
                            <div class="fourth column pillers left all_col" id="all">
                                <div class="ful center_text list_head">Entregadas</div>
                                <div class="tasks ful">
                                    
                                    @foreach (var homeworkModel in Model.PastHomeworks)
                                    {
                                        <br />
                                        <div class="nicdark_toogle">
                                            <h5 class="nicdark_toogle_header small nicdark_bg_grey2 nicdark_shadow nicdark_radius" style="width:90% !important; align-content:center !important;">@Html.DisplayFor(modelItem => homeworkModel.Title) </h5>
                                            <div class="nicdark_toogle_content">
                                                <div class="paper">
                                                    <div style="margin-left: 11%">
                                                        <i class="fa fa-book" style="color: orangered"></i>  Materia: @Html.DisplayFor(modelItem => homeworkModel.AcademicCourse) <br />
                                                        <i class="fa fa-calendar" style="color: cornflowerblue"></i> @Html.DisplayFor(modelItem => homeworkModel.DeliverDate.Date) <br />
                                                        <i class="fa fa-plus-square" style="color: limegreen"></i> Puntaje: @Html.DisplayFor(modelItem => homeworkModel.Points)<br />
                                                    </div>
                                                    <p>
                                                        @Html.DisplayFor(modelItem => homeworkModel.Description)
                                                    </p>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    }
                                </div>
                            </div>
                        }
                        if (!Model.CurrentHomeworks.Any())
                        {
                             <div class="fourth column pillers left progress_col" id="progress">
                                <div class="ful center_text list_head">Hoy</div>
                                <div class="tasks ful">

                                </div>
                             </div>
                        }
                        else
                        {   
                             <div class="fourth column pillers left progress_col" id="progress">
                                <div class="ful center_text list_head">Hoy</div>
                                <div class="tasks ful">
                                @foreach (var currentHomework in Model.CurrentHomeworks)
                                {
                                    <br />
                                    <div class="nicdark_toogle">
                                        <h5 class="nicdark_toogle_header small nicdark_bg_grey2 nicdark_shadow nicdark_radius" style="width:90% !important; align-content:center !important;">@Html.DisplayFor(modelItem => currentHomework.Title) </h5>
                                        <div class="nicdark_toogle_content">
                                            <div class="paper">
                                                <div style="margin-left: 11%">
                                                    <i class="fa fa-book" style="color: orangered"></i>  Materia: @Html.DisplayFor(modelItem => currentHomework.AcademicCourse) <br />
                                                    <i class="fa fa-calendar" style="color: cornflowerblue"></i> @Html.DisplayFor(modelItem => currentHomework.DeliverDate.Date) <br />
                                                    <i class="fa fa-plus-square" style="color: limegreen"></i> Puntaje: @Html.DisplayFor(modelItem => currentHomework.Points)<br />
                                                </div>
                                                <p>
                                                    @Html.DisplayFor(modelItem => currentHomework.Description)
                                                </p>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                }
                                </div>
                             </div>
                        }
                        if (!Model.FutureHomeworks.Any())
                        {
                            <div class="fourth column pillers left complet_col" id="complete">
                                <div class="ful center_text list_head">Por Entregar</div>
                                <div class="tasks ful">

                                </div>
                            </div>
                        }
                        else
                        {
                             <div class="fourth column pillers left complet_col" id="complete">
                                <div class="ful center_text list_head">Por Entregar</div>
                                <div class="tasks ful">
                            @foreach (var futureHomework in Model.FutureHomeworks)
                            {
                                <br />
                                    <div class="nicdark_toogle">
                                        <h5 class="nicdark_toogle_header small nicdark_bg_grey2 nicdark_shadow nicdark_radius" style="width:90% !important; align-content:center !important;">@Html.DisplayFor(modelItem => futureHomework.Title) </h5>
                                        <div class="nicdark_toogle_content">
                                            <div class="paper">
                                                <div style="margin-left: 11%">
                                                    <i class="fa fa-book" style="color: orangered"></i>  Materia: @Html.DisplayFor(modelItem => futureHomework.AcademicCourse) <br />
                                                    <i class="fa fa-calendar" style="color: cornflowerblue"></i> @Html.DisplayFor(modelItem => futureHomework.DeliverDate.Date) <br />
                                                    <i class="fa fa-plus-square" style="color: limegreen"></i> Puntaje: @Html.DisplayFor(modelItem => futureHomework.Points)<br />
                                                </div>
                                                <p>
                                                    @Html.DisplayFor(modelItem => futureHomework.Description)
                                                </p>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                            }
                                </div>
                            </div>
                        }
                    }

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--end nicdark_container-->
</section>
<div class="nicdark_space50"></div>
