@using Mhotivo.Data.Entities
@using Mhotivo.Implement.Repositories
@using Mhotivo.Interface.Interfaces
@using Mhotivo.ParentSite.Controllers
@using Mhotivo.ParentSite.Models
@using Microsoft.Ajax.Utilities
@model IEnumerable<Mhotivo.ParentSite.Models.HomeworkModel>

@functions {
    public IEnumerable<HomeworkModel> Models { get; set; }
}
@{
    ViewBag.Title = "Homework";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/homework.css"/>

<section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img7">
    <div class="nicdark_filter greydark">
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">Tareas</h1>
                <div class="nicdark_space10"></div>
                <h3 class="subtitle white">Todas las Tareas</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>

        </div>
    </div>
</section>

<!--start section-->
<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space50"></div>



        <!--sidebar-->
        <div class="grid grid_4">
            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_textevidence nicdark_bg_violet nicdark_radius_top">
                    <h4 class="white nicdark_margin20">HIJOS</h4>
                    <i class="icon-doc-1 nicdark_iconbg right medium violet"></i>
                </div>

                @{
                    IEnumerable<Student> allstudents = HomeworkController.GetAllStudents(HomeworkController.GetParentId());
                }
                <div class="nicdark_margin10">

                    @if (@allstudents != null)
                    {
                        @Html.ActionLink("Todos", "index", new { param = Request.Params["param"], date = Request.Params["date"], student = "" }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })

                        foreach (var student in @allstudents.ToList())
                        {
                            @Html.ActionLink(student.FullName, "index", new { param = Request.Params["param"], date = Request.Params["date"], student = student.Id }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                        }
                    }
                </div>

                <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius_top">
                    <h4 class="white nicdark_margin20">TAREAS</h4>
                    <i class="icon-tags-1 nicdark_iconbg right medium orange"></i>
                </div>
                <div class="nicdark_margin10">




                    @Html.ActionLink("Todas", "index", new { param = "", date = Request.Params["date"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })

                    @foreach (var item in Model.GroupBy(lo => lo.AcademicCourse.Course).ToList())
                    {
                        @Html.ActionLink(@item.Key.Name, "index", new { param = @item.Key.Id, date = Request.Params["date"], student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    }

                </div>

                <div class="nicdark_textevidence nicdark_bg_violet nicdark_radius_top">
                    <h4 class="white nicdark_margin20">Siguientes tareas</h4>
                    <i class="icon-doc-1 nicdark_iconbg right medium violet"></i>

                </div>

                <br />
                <div class="nicdark_margin10">
                    @Html.ActionLink("Dia", "index", new { param = Request.Params["param"], date = "Dia", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    @Html.ActionLink("Semana", "index", new { param = Request.Params["param"], date = "Semana", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    @Html.ActionLink("Mes", "index", new { param = Request.Params["param"], date = "Mes", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                    @Html.ActionLink("Todas", "index", new { param = Request.Params["param"], date = "", student = Request.Params["student"] }, new { @class = "nicdark_btn nicdark_bg_grey2 small nicdark_shadow nicdark_radius grey subtitle nicdark_margin10" })
                </div>


            </div>
        </div>
        <!--sidebar-->


        <div class="grid grid_8">


            @{
                int var = Convert.ToInt32(Request.Params["param"]);
                string date = Request.Params["date"];
            }
            @if (@var != 0)
            {

                Models = Model;
                if (!@date.IsEmpty())
                {
                    Models = Model;
                    if (@date.Equals("Dia"))
                    {
                        Models = Model.Where(x => x.DeliverDate <= DateTime.Now.AddDays(1));

                    }
                    else if (@date.Equals("Semana"))
                    {
                        Models = Model.Where(x => x.DeliverDate <= DateTime.Today.AddDays((-(int)DateTime.Today.DayOfWeek) + 7));
                    }
                    else if (@date.Equals("Mes"))
                    {
                        Models = Model.Where(x => x.DeliverDate.Month == DateTime.Now.Month);
                    }
                }


                foreach (var item in Models.Where(x => x.AcademicCourse.Course.Id == @var))
                {

                    var studentsName = @HomeworkController.GetStudentName(item.AcademicCourse.AcademicGrade.AcademicYear.Id);

                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div class="nicdark_size_big">
                            <p class="white">
                                <i class="icon-calendar-1 nicdark_marginright10">Fecha de Entrega: @item.DeliverDate.ToString("dd-MM-yyyy")</i> <span class="nicdark_margin010">·</span>
                                <i class=" align-right nicdark_marginright10">Materia: @item.AcademicCourse.Course.Name </i> <span class="nicdark_margin010">·</span>
                                <i class="icon-attention-1 align-right nicdark_marginright10">Puntaje: @item.Points %</i>

                        </div>
                        <i class="icon-info-outline nicdark_iconbg right medium orange"></i>
                    </div>
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div>
                            @if (Convert.ToInt32(Request.Params["student"]) == 0)
                            {
                                for (int i = 0; i < studentsName.Count; i++)
                                {
                                    <i class="align-right nicdark_marginright10">  @studentsName.ElementAt(i)</i>
                                }
                            }
                            else
                            {
                                <i class="align-right nicdark_marginright10">  @HomeworkController.GetStudenById(Convert.ToInt32(Request.Params["student"]))</i>
                            }


                        </div>
                        <i class=" nicdark_iconbg right medium orange"></i>
                    </div>

                    <div class="nicdark_archive1 nav-justified nicdark_bg_yellow nicdark_radius nicdark_shadow ">
                        <div class="nicdark_margin20 nicdark_relative">

                            <div class="nicdark_activity  nicdark_disable_marginleft_ipadpotr">
                                <h4 class="white center">@item.Title</h4>
                                <div class="nicdark_space10"></div>
                                <p class="white infobox-text">@Html.Raw(@item.Description)</p>

                            </div>
                        </div>
                        <div class="nicdark_space10"></div>

                    </div>

                    <div class="nicdark_space10"></div>


                }
            }
            else
            {
                foreach (var item in Model)
                {
                    var studentsName = @HomeworkController.GetStudentName(item.AcademicCourse.AcademicGrade.AcademicYear.Id);
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div class="nicdark_size_big">
                            <p class="white">
                                <i class="icon-calendar-1 nicdark_marginright10">Fecha de Entrega: @item.DeliverDate.ToString("dd-MM-yyyy")</i> <span class="nicdark_margin010">·</span>
                                <i class=" align-right nicdark_marginright10">Materia: @item.AcademicCourse.Course.Name </i> <span class="nicdark_margin010">·</span>

                                <i class="icon-attention-1 align-right nicdark_marginright10">Puntaje: @item.Points %</i>

                        </div>
                        <i class="icon-info-outline nicdark_iconbg right medium orange"></i>
                    </div>
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                        <div>
                            @if (Convert.ToInt32(Request.Params["student"]) == 0)
                            {
                                for (int i = 0; i < studentsName.Count; i++)
                                {
                                    <i class="align-right nicdark_marginright10">  @studentsName.ElementAt(i)</i>
                                }
                            }
                            else
                            {
                                <i class="align-right nicdark_marginright10">  @HomeworkController.GetStudenById(Convert.ToInt32(Request.Params["student"]))</i>
                            }

                        </div>
                        <i class=" nicdark_iconbg right medium orange"></i>
                    </div>

                    <div class="nicdark_archive1 nav-justified nicdark_bg_yellow nicdark_radius nicdark_shadow ">
                        <div class="nicdark_margin20 nicdark_relative">

                            <div class="nicdark_activity  nicdark_disable_marginleft_ipadpotr">
                                <h4 class="white center">@item.Title</h4>
                                <div class="nicdark_space10"></div>
                                <p class="white infobox-text">@Html.Raw(@item.Description)</p>

                            </div>
                        </div>
                        <div class="nicdark_space10"></div>



                    </div>

                    <div class="nicdark_space10"></div>

                }
            }
        </div>
    </div>
    <!--end nicdark_container-->
</section>

<section>
    <div class="ful">
        <div class="center_block container">

            <div class="ful center_text container_head">Lista de Tareas</div>

            <!-- Columns -->
            <div class="ful max">
                <div class="fourth column pillers left all_col" id="all">
                    <div class="ful center_text list_head">Anteriores</div>
                    <div class="tasks ful"></div>
                    <!-- 	Tamplate -->
                    <div class="left dragable temp hide task-unit ">
                        <div class="ful info">
                            <input id="TaskHeading" type="text" class="readonly" readonly placeholder="Title">
                            <textarea id="task-description" readonly class="readonly" placeholder="Description"></textarea>
                        </div>
                        <div class="ful action_bar">
                            <span class="time"><i class="icon-time"></i><span>&nbsp;</span></span>
                            <a class="right remove" href="#" title="delete"><i class="icon-remove"></i> </a>
                            <a class="right edit" href="#" title="edit"><i class="icon-edit"></i></a>
                        </div>
                        <div class="progress"></div>
                    </div>

                    <div class="left temp_box">
                        <div class="ful center_text temp_head">Temp Box</div>
                    </div>

                    <!-- add new task -->
                    <div class="left create_task_box">
                        <div class="ful info">
                            <div class="ful relative info_val">
                                <input id="title" type="text" name="title" required>
                                <label class="input_label titl" for="title">Title </label>
                            </div>
                            <div class="ful relative info_val">
                                <textarea name="description" id="description" required></textarea>
                                <label class="input_label desc" for="description">Description</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fourth column pillers left progress_col" id="progress">
                    <div class="ful center_text list_head">Hoy</div>
                    <div class="tasks ful"></div>
                </div>

                <div class="fourth column pillers left complet_col" id="complete">
                    <div class="ful center_text list_head">Siguientes</div>
                    <div class="tasks ful"></div>
                        <div class="nicdark_toogle">
                            <h5 class="nicdark_toogle_header small nicdark_bg_grey nicdark_shadow nicdark_radius">EVENT ORGANIZATION</h5>
                            <div class="nicdark_toogle_content">
                                <div class="paper">
                                    <h1>Sample Box</h1> <br>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus consectetur dolor a porttitor. Curabitur id sem sed ante fringilla pulvinar et id lectus. Nullam justo ipsum, hendrerit ut commodo nec, pellentesque nec erat. Pellentesque pharetra.
                                    </p>
                                    <br />
                                </div>
                            </div>  

                            <h5 class="nicdark_toogle_header small nicdark_bg_grey nicdark_shadow nicdark_radius">EVENT ORGANIZATION</h5>
                            <div class="nicdark_toogle_content">
                                <div class="paper">
                                    <h1>Sample Box</h1> <br>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus consectetur dolor a porttitor. Curabitur id sem sed ante fringilla pulvinar et id lectus. Nullam justo ipsum, hendrerit ut commodo nec, pellentesque nec erat. Pellentesque pharetra.
                                    </p>
                                    <br />
                                </div>
                            </div>   
                        </div>    
                    </div>
            </div>

        </div>
    </div>
</section>
<div class="nicdark_space50"></div>