@using System.Web.UI.WebControls
@using Mhotivo.Controllers
@using PagedList.Mvc
@model PagedList.IPagedList<Mhotivo.Models.NewUserDisplayModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios No Reclamados</h2>
@using (Html.BeginForm("Index", "NewUser", FormMethod.Get, new { id = "Form", @class = "form-horizontal", @Style = "margin:0;" }))
{
    <p>
        Buscar: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}
@if (!Model.Any())
{
    <div class="well well-large">
        <h4 class="blue">Tabla Vacía</h4>
        No hay ninguna cuenta de usuario a mostrar.
    </div>
}
else
{
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Email))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Role)
            </th>
            <th>
                Mostrar Contraseña
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a class="toEdit" data-toggle="modal" role="button" data-target="#EditModal" id="/NewUser/Details/@Html.DisplayFor(modelItem => item.Id)"><i class="icon-edit bigger-120"></i></a>
                </td>
            </tr>
        }
    </table>
    <p>
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, currentFilter = ViewBag.CurrentFilter, yearId = ViewBag.IdAcademicYear }));
}
<div tabindex="-1" class="modal hide fade" id="EditModal" style="display: none;" aria-hidden="true">
    <div id="body" class="modal-body">

    </div>
</div>