@model Mhotivo.Models.UserEditModel

@{
    ViewBag.Title = "Editar Usuario";
    Layout = "";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div id="body" class="modal-body" style="max-height: 500px;">
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "Form", @class="form-horizontal", @Style="margin:0;"}))
{@Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Usuario</legend>

        @Html.HiddenFor(model => model.Id)
        <p class="text-error">
            @Html.ValidationMessageFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Role)
        </p>

        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Email)
            </div>
        </div>
        @if (ViewBag.Role.ToString().Equals("Director") || ViewBag.Role.ToString().Equals("Administrador"))
        {
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Role)
                </div>
                <div class="controls">
                    @Html.DropDownListFor(model => model.Role, (SelectList)ViewBag.RoleId)
                </div>
            </div>
        }
        <div class="control-group">
            <div class="controls">
                <div class="control-label" style=" width: 60px;  padding-top: 0;">
                    @Html.LabelFor(model => model.IsActive, new {@style="text-align: left; margin-left: 0;"})
                </div>
                @Html.CheckBoxFor(model => model.IsActive,new { @style="-ms-opacity: 1; opacity: 1; margin-top: 1px;"})
            </div>
        </div>

        <div class="space"></div>

        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-small">
                <i class="icon-remove"></i>
                Cancelar
            </button>

            <button type="submit" class="btn btn-small btn-primary">
                <i class="icon-ok"></i>
                Actualizar
            </button>
        </div>
    </fieldset>
}

</div>
