<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Mhotivo Parents</title> <!--insert your title here-->
    <meta name="description" content="nicdark Framework"> <!--insert your description here-->
    <meta name="author" content="nicdark"> <!--insert your name here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--meta responsive-->
    <!--START CSS-->
    <link rel="stylesheet" href="~/Content/css/nicdark_style.css"> <!--style-->
    <link rel="stylesheet" href="~/Content/css/nicdark_responsive.css"> <!--nicdark_responsive-->
    <!--revslider-->
    <link rel="stylesheet" href="~/Content/css/revslider/settings.css"> <!--revslider-->
    <!--END CSS-->
    <!--google fonts-->
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> <!-- font-family: 'Montserrat', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <!-- font-family: 'Raleway', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'> <!-- font-family: 'Montez', cursive; -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--FAVICONS-->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="~/Content/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/favicon/apple-touch-icon-114x114.png">
    <!--END FAVICONS-->
</head>
<body id="start_nicdark_framework">
    <div class="nicdark_site">
        <div class="nicdark_site_fullwidth nicdark_clearfix">
            <div class="nicdark_overlay"></div>

            <div class="nicdark_section nicdark_navigation fade-down">

                <div class="nicdark_menu_boxed">

                    <div class="nicdark_section nicdark_bg_greydark nicdark_displaynone_responsive">
                        <div class="nicdark_container nicdark_clearfix">
                            <div class="grid grid_6">
                                <div class="nicdark_focus">
                                    <h6 class="white">
                                        <i class="icon-phone-outline"></i>&nbsp;&nbsp;(504)2559-2415 ext 2422
                                    </h6>
                                </div>
                            </div>
                            <div class="grid grid_6 right">
                                <div class="nicdark_focus right">
                                    <h6 class="white">
                                        @if (HttpContext.Current.Session["loggedUserName"] != null)
                                        {
                                            <i class="icon-user-1"></i>
                                            <span> BIENVENIDO(A) @HttpContext.Current.Session["loggedUserName"].ToString().ToUpper() </span>
                                            //Security.GetUserLoggedName().ToUpper();
                                            <span class="grey">·</span>
                                            <i class="icon-lock-1"></i>@*
                                    <a class="white">  CERRAR SESIÓN</a>*@
                                            @Html.ActionLink(" CERRAR SESIÓN", "LogOut", "Account", null, new { @class = "white" });
                                        }

                                        @*<i class="icon-lock-1"></i>&nbsp;&nbsp;@Html.ActionLink("Iniciar Sesion", "LogIn", "Account", new { area = "" }, new {@class="white nicdark_mpopup_window"})*@

                                    </h6>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="nicdark_section nicdark_bg_grey nicdark_shadow nicdark_radius_bottom">
                        <div class="nicdark_container nicdark_clearfix">

                            <div class="grid grid_12 percentage">

                                <div class="nicdark_space20"></div>

                                <div class="nicdark_logo nicdark_marginleft10">
                                    @*<a href="index-2.html"><img alt="" src="~/Content/img/logo.png"></a>*@
                                    @Html.ActionLink("MHOTIVO", "Index", "Home", null, new { @style = "font-size: 30px;" })
                                </div>

                                <nav>
                                    <ul class="nicdark_menu nicdark_margin010 nicdark_padding50">
                                        <li class="orange">
                                           @Html.ActionLink("NOTIFICACIONES", "Index", "Notification")
                                        </li>
                                        <li class="red">
                                           @Html.ActionLink("TAREAS", "Index", "Homework")
                                        </li>
                                        <li class="green">
                                           @Html.ActionLink("CAMBIAR CONTRASEÑA", "ChangePassword", "Account")
                                        </li>
                                        <li class="blue">
                                           @Html.ActionLink("ENVIAR MENSAJE", "Index", "MessageToTeacher")
                                        </li>
                                    </ul>
                                </nav>

                                <div class="nicdark_space20"></div>

                            </div>

                        </div>
                        <!--end container-->

                    </div>
                    <!--end header-->

                </div>

            </div>
            <!--start-->

            @RenderBody()

            <!--start section-->
            <div class="nicdark_section nicdark_bg_greydark2 nicdark_copyrightlogo">

                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">

                    <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                        <div class="nicdark_space20"></div>
                        <p class="white">© Copyright 2015 by <span class="grey">Mhotivo</span></p>
                    </div>


                    <div class="grid grid_6">
                        <div class="nicdark_focus right nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                            <div class="nicdark_margin10">
                                <a href="#" class="nicdark_facebook nicdark_press right nicdark_btn_icon small nicdark_radius white"><i class="icon-facebook-1"></i></a>
                            </div>
                            <div class="nicdark_margin10">
                                <a href="#" class="nicdark_press right nicdark_btn_icon nicdark_bg_red nicdark_shadow small nicdark_radius white"><i class="icon-gplus"></i></a>
                            </div>
                            <div class="nicdark_margin10">
                                <a href="#" class="nicdark_press right nicdark_btn_icon nicdark_bg_blue nicdark_shadow small nicdark_radius white"><i class="icon-twitter-1"></i></a>
                            </div>
                            <div class="nicdark_margin10">
                                <a href="#start_nicdark_framework" class="nicdark_zoom nicdark_internal_link right nicdark_btn_icon nicdark_bg_greydark2 small nicdark_radius white"><i class="icon-up-outline"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end nicdark_container-->

            </div>
            <!--end section-->
        </div>
    </div>
    <!--main-->
    <script src="~/Content/js/main/jquery.min.js"></script> <!--Jquery-->
    <script src="~/Content/js/main/jquery-ui.js"></script> <!--Jquery UI-->
    <script src="~/Content/js/main/excanvas.js"></script> <!--canvas need for ie-->
    <!--plugins-->
    <script src="~/Content/js/plugins/revslider/jquery.themepunch.tools.min.js"></script> <!--revslider-->
    <script src="~/Content/js/plugins/revslider/jquery.themepunch.revolution.min.js"></script> <!--revslider-->
    <!--menu-->
    <script src="~/Content/js/plugins/menu/superfish.min.js"></script> <!--superfish-->
    <script src="~/Content/js/plugins/menu/tinynav.min.js"></script> <!--tinynav-->
    <!--other-->
    <script src="~/Content/js/plugins/isotope/isotope.pkgd.min.js"></script> <!--isotope-->
    <script src="~/Content/js/plugins/mpopup/jquery.magnific-popup.min.js"></script> <!--mpopup-->
    <script src="~/Content/js/plugins/scroolto/scroolto.js"></script> <!--Scrool To-->
    <script src="~/Content/js/plugins/nicescrool/jquery.nicescroll.min.js"></script> <!--Nice Scroll-->
    <script src="~/Content/js/plugins/inview/jquery.inview.min.js"></script> <!--inview-->
    <script src="~/Content/js/plugins/parallax/jquery.parallax-1.1.3.js"></script> <!--parallax-->
    <script src="~/Content/js/plugins/countto/jquery.countTo.js"></script> <!--jquery.countTo-->
    <script src="~/Content/js/plugins/countdown/jquery.countdown.js"></script> <!--countdown-->
    <!--settings-->
    <script src="~/Content/js/settings.js"></script> <!--settings-->
    <!--custom js-->
    <script type="text/javascript">
	jQuery(document).ready(function() {


		//START PARALLAX SECTIONS
		$('#nicdark_parallax_title').parallax("50%", 0.3);
		//END PARALLAX SECTIONS


	});
    </script>
    <!--custom js-->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49425562-7', 'auto');
  ga('send', 'pageview');

    </script>

</body>
</html>